html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
#target {
  width: 345px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#results-wrap{
  z-index: 1;
  position: absolute;
  top: 43px;
  max-height: calc(100% - 75px);
  overflow: auto;
}

body[full="true"] #results-wrap{
  top: 0px;
  max-height: calc(100% - 32px);
}

.result{
  margin-top: 5px;
  color: white;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  width: 300px;
  position: relative;
}

.result-text{
  padding: 7px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}

.result-amount{
  margin: 0;
  font-size: 10px;
}
.remove-single-result{
  font-size: 11px;
  margin-left: 10px;
  vertical-align: top;
}
.remove-result{
  color: #fff;
  background-color: rgba(100,100,100,0);
  border: 1px solid rgba(100,100,100,0);
  font-size: 20px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  width: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 30px;
  height: 30px;
}

.remove-result:hover{
  opacity: .8;
}

.infoWindow{
  clear: both;
}

.place-img{
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.attribution{
  font-size: 8px;
}

.openNow{
  color: #5cb85c;
}

.closedNow{
  color: #d9534f;
}

.website{
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 18px;
  display: inline-block;
}

.placeRating, .placePrice{
  float: right;
  margin-left: 5px!important;
}

#result-limit-num-wrap{
  top: 0;
  margin-top: 12px;
  margin-left: 12px;
  position: absolute;
  left: 312px;
  z-index: 1;
  width: 88px
}

#result-limit-num{
  padding-right: 0;
}

@media (max-width: 1024px) {
  #results-wrap{
    right: 0px;
    max-height: calc(100% - 165px);
  }

  body[full="true"] #results-wrap{
    top: 0px;
    max-height: calc(100% - 125px);
  }

}

@media (max-width:567px) {
  .result{
    width: 160px;
  }

  .result-text{
    width: 110px;
  }

  #result-limit-num-wrap{
    left: 0;
    top: 35px;
  }
}

#pac-input {
  top: 0px;
  position: absolute;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  z-index: 1;
}

#pac-input:focus {
  border-color: #4d90fe;
}

body[full="true"] #pac-input, body[full="true"] #result-limit-num-wrap{
  display: none;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
