html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map, .mdl-layout__content {
  height: 100%;
}
#target {
  width: 345px;
}

#edit-home, #take-me-home {
  width: 28px!important;
  min-width: 28px!important;
  color: #666666;
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  margin-right: 12px;
  background-color: #FAFAFA;
  border-radius: 2px 2px 0 0;
  height: 28px!important;
}

#edit-home {
  border-bottom: #E6E6E6 solid thin;
  bottom: 158px;
}

#edit-home .material-icons {
  -webkit-transform: translate(-12px,-12px);
  transform: translate(-12px,-12px);
}

#take-me-home {
  border-radius: 0 0 2px 2px;
  bottom: 130px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#results-wrap{
  padding: 0;
  margin-bottom: 0;
  max-height: calc(100% - 131px);
  overflow-y: auto;
}

body[location-set="true"] #take-me-home, body[location-set="true"] #edit-home{
  display: block;
}

.result{
  margin-top: 5px;
  color: white;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 48px;
}

.result:first-child {
  margin-top: 0;
}

.result-amount{
  font-size: 11px;
}
.remove-single-result{
  font-size: 11px;
  margin-left: 10px;
  vertical-align: top;
}

.infoWindow{
  clear: both;
}

.place-img{
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.attribution{
  font-size: 8px;
}

.openNow{
  color: #5cb85c;
}

.closedNow{
  color: #d9534f;
}

.website{
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 18px;
  display: inline-block;
}

.placeRating, .placePrice{
  float: right;
  margin-left: 5px!important;
}

#result-limit-num-wrap {
  display: none;
  margin-top: 60px;
  padding: 0 20px;
}

#result-limit-num-wrap mdl-textfield{
  padding: 20px;
}

body[location-set='true'] #result-limit-num-wrap{
  display: block;
}

#result-limit-num {
  color: white;
  border-bottom-color: white;
}

#result-limit-num-wrap label {
  color: white;
}

#result-limit-num-wrap label:after {
  bottom: 16px;
  background-color: white;
}

#pac-input {
  top: 0;
  position: fixed;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 20px 25px 20px 50px;
  text-overflow: ellipsis;
  width: 216px;
  margin-left: 12px;
  z-index: 6;
}

.mdl-layout__drawer {
  border-right: none;
  left: 15px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  transition-property: transform;
  transition-property: transform,-webkit-transform,background-color,left,box-shadow;
}

.mdl-layout__drawer.is-visible {
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-layout__drawer-button {
  margin: 4px;
  color: rgba(0,0,0,.5);
  z-index: 6;
  padding-top: 5px;
  padding-left: 15px;
  outline: none;
}

.mdl-layout__obfuscator.is-visible {
  opacity: 0;
}

#pac-input:focus {
  border-color: #4d90fe;
}

body[full="true"] #pac-input, body[full="true"] #result-limit-num-wrap{
  display: none;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
