html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
#target {
  width: 345px;
}
#take-me-home{
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  margin-left: 12px;
  bottom: 30px;
  border-radius: 100px;
  padding: 8px 9px;
  font-size: 20px;
  height: 40px;
}

#edit-home{
  display: none;
  position: absolute;
  bottom: 70px;
  z-index: 1;
  left: 7px;
}

#toggle-results{
  display: none;
  position: absolute;
  top: 47px;
  z-index: 1;
  left: 324px;
}

#take-me-home:focus {outline:0;}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#results-wrap{
  z-index: 1;
  position: absolute;
  top: 43px;
  max-height: calc(100% - 150px);
  overflow: auto;
}

body[location-set="true"] #take-me-home, body[location-set="true"] #edit-home{
  display: block;
}

body[has-results="true"] #toggle-results{
  display: block;
}

body[full="true"] #results-wrap{
  top: 5px;
  max-height: calc(100% - 125px);
}

body[show-results="false"] #results-wrap{
  display: none;
}

.result{
  margin-top: 5px;
  color: white;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  width: 300px;
  position: relative;
}

.result-text{
  padding: 7px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 290px;
  white-space: nowrap;
}

.result-amount{
  margin: 0;
  font-size: 10px;
}
.remove-single-result{
  font-size: 11px;
  margin-left: 10px;
  vertical-align: top;
}
.remove-result{
  color: #fff;
  background-color: rgba(100,100,100,0);
  border: 1px solid rgba(100,100,100,0);
  font-size: 20px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 30px;
  height: 30px;
}

.remove-result:hover{
  opacity: .8;
}

.infoWindow{
  clear: both;
}

.place-img{
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.attribution{
  font-size: 8px;
}

.openNow{
  color: #5cb85c;
}

.closedNow{
  color: #d9534f;
}

.website{
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 18px;
  display: inline-block;
}

.placeRating, .placePrice{
  float: right;
  margin-left: 5px!important;
}

#result-limit-num-wrap{
  display: none;
  top: 0;
  margin-top: 12px;
  margin-left: 12px;
  position: absolute;
  left: 312px;
  z-index: 1;
  width: 88px
}

body[location-set='true'] #result-limit-num-wrap{
  display: inline-table;
}

#result-limit-num{
  padding-right: 0;
}

@media (max-width: 1024px) {
  #toggle-results{
    top: 10px;
    right: 5px;
    left: inherit;
  }

  #results-wrap, body[full="true"] #results-wrap, body[full="false"] #results-wrap{
    top: 43px;
    right: 0;
    max-height: calc(100% - 170px);
  }

  .result{
    width: 200px;
  }

  .result-text{
    width: 190px;
  }

  #result-limit-num-wrap{
    left: 0;
    top: 35px;
  }
}

@media (max-width:567px) {

  .result{
    width: 88px;
  }

  .result-text{
    width: 78px;
  }
}

@media (max-width:404px) {

  #toggle-results{
    top: 47px;
  }

  #results-wrap, body[full="true"] #results-wrap, body[full="false"] #results-wrap{
    top: 75px;
    max-height: calc(100% - 200px);
  }
}

#pac-input {
  top: 0;
  position: absolute;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  z-index: 1;
}

#pac-input:focus {
  border-color: #4d90fe;
}

body[full="true"] #pac-input, body[full="true"] #result-limit-num-wrap{
  display: none;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
