 .btn-group-justified {
  margin-top: 5px;
  button {
    display: inline-block;
    width: 84px;
    padding: 0;
    &:first-child {
      margin-right: 5px;
    }
  }
}

.btn-cancel {
  background-color: #d9534f;
  color: white;
  &:hover, &:focus, &:focus:not(:active) {
    background-color: transparentize(#d9534f, 0.5);
  }
}

.btn-ok {
  background-color: #5cb85c;
  color: white;
  &:hover, &:focus, &:focus:not(:active) {
    background-color: transparentize(#5cb85c, 0.5);
  }
}

.btn-directions {
  background-color: #fafafa;
  margin-top: 5px;
  width: 192px;
  padding: 0;
  &:hover, &:focus, &:focus:not(:active) {
    background-color: transparentize(#fafafa, 0.5);
  }
}

.info-window {
  .btn-ok {
    width: 103px!important;
  }
}
