.night-mode {
  .gm-style {
    .gm-style-iw-t {
      &::after {
        background: #566271;
      }
      img {
        filter: invert(1);
      }
      .gm-style-iw {
        background: #566271;
      }
    }
  }
  .info-window {
    color: white;
    .mdl-radio__inner-circle {
      background: white;
    }
    .mdl-radio.is-checked .mdl-radio__outer-circle {
      border-color: white;
    }
  }
}

.info-window {
  clear: both;
  max-width: 195px;
  padding: 10px 10px 15px 0;
  .mdl-radio__label {
    font-size: 11px;
  }
  .place-img {
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .attribution {
    font-size: 8px;
  }
  .openNow {
    color: #5cb85c;
    margin-top: 5px;
  }
  .closedNow {
    color: #d9534f;
    margin-top: 5px;
  }
  address {
    line-height: 1.3;
  }
}
