.result{
  margin-top: 5px;
  &:first-child {
    margin-top: 0;
  }
  .result-info {
    color: white;
    position: relative;
    height: 48px;
    padding: 0 8px 0 0;
  }
}

.result-amount{
  font-size: 11px;
}

.result-text {
  font-size: 14px;
  color: white;
  text-transform: none;
  text-align: left;
  line-height: 16px!important;
  border-radius: 0;
  padding: 0 8px;
}

.mdl-layout__drawer[aria-hidden='true'] {
  .result-info {
    padding-right: 0;
    height: 48px!important;
  }
}

.remove-result, .expand-markers {
  display: none;
}

.text-wrap {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.result-letter {
  text-transform: uppercase;
  text-align: center;
  width: 50px;
}

.mdl-list__item .mdl-list__item-secondary-content {
  margin-left: 0;
}

.markers-list {
  color: white;
  height: 0;
  overflow: hidden;
  padding-left: 0;
  li {
    display: flex;
    list-style: none;
    .result-text {
      flex-grow: 2;
    }
  }
}

.mdl-layout__drawer.is-visible .result-letter {
  display: none;
}

.mdl-layout__drawer.is-visible {
 .remove-result, .expand-markers {
    display: inline-block;
  }
  .markers-list {
    display: block;
    height: auto;
    overflow: auto;
    padding-bottom: 16px;
  }
}
