html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

#root, #map, .mdl-layout__content, #loading-overlay, .ReactModalPortal {
  height: 100%;
  width: 100%;
}

.ReactModalPortal {
  position: fixed;
  z-index: 10;
  .overlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  h1 {
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  p {
    font-size: 18px;
  }
  .modal-content {
    outline: none;
    padding: 15px;
    width: calc(100% - 60px);
    height: auto;
    max-width: 488px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    position: absolute;
  }
}

#welcome-toggle-wrap {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
  .mdl-checkbox {
    .mdl-checkbox__box-outline {
      border-color: #20D1E5;
    }
    &.is-checked {
      .mdl-checkbox__tick-outline {
        background-color: #20D1E5;
      }
    }
    .mdl-checkbox__ripple-container {
      .mdl-ripple {
        background: #20D1E5;
      }
    }
  }
}

.text-right {
  text-align: right;
}

.hidden {
  display: none;
}

#loading-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 10;
  display: none;
  &.active {
    display: block;
  }
  .mdl-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -14px;
  }
}

.mdl-snackbar__text {
  width: 100%;
  text-align: center;
  .material-icons {
    margin-left: 15px;
    vertical-align: bottom;
  }
}

.edit-button {
  width: 40px!important;
  min-width: 40px!important;
  color: #666666;
  position: absolute;
  z-index: 1;
  right: 0;
  margin-right: 10px;
  background-color: #FAFAFA;
  height: 40px!important;
  &:hover {
    background-color: #FAFAFA;
  }
}

#more-info {
  border-radius: 2px 2px 0 0;
  bottom: 200px;
  border-bottom: #E6E6E6 solid thin;
}

#edit-home {
  border-radius: 0;
  border-bottom: #E6E6E6 solid thin;
  bottom: 160px;
  .material-icons {
    transform: translate(-12px, -12px);
  }
}

#take-me-home {
  border-radius: 0 0 2px 2px;
  bottom: 120px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.mdl-tooltip {
  will-change: auto!important;
}

.mdl-layout__drawer-button {
  position: fixed;
  margin: 11px 0 0 13px;
  line-height: 49px;
  height: 40px;
  width: 48px;
  border-radius: 2px;
  color: rgba(0,0,0,.5);
  z-index: 9;
  outline: none;
  background: white;
}

.max-searches {
  .mdl-layout__drawer-button {
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px;
  }
}

.mdl-layout__obfuscator.is-visible {
  opacity: 0;
}
