#search-box {
  top: 0;
  position: fixed;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 20px 25px 20px 50px;
  text-overflow: ellipsis;
  width: 216px;
  margin-left: 12px;
  z-index: 6;
}

#search-box:focus {
  border-color: #4d90fe;
}

body[full="true"] #search-box {
  display: none;
}
